<h2>Países</h2>
<hr>
<ul class="list-group">
    <!-- <li routerLink="home" class="list-group-item">Home page</li>
    <li routerLink="about" class="list-group-item">About page</li>
    <li routerLink="contact" class="list-group-item">Contact page</li> -->
    <li routerLinkActive="active" routerLink="countries/by-capital" class="list-group-item">Por capitales</li>
    <li routerLinkActive="active" routerLink="countries/by-country" class="list-group-item">Por país</li>
    <li routerLinkActive="active" routerLink="countries/by-region" class="list-group-item">Por region</li>
</ul>